.carousel-caption {
    margin:-40px;
}
.ReactModal__Overlay.ReactModal__Overlay--after-open{
  top:20% !important;
}

/*.snip1336 {
    position: relative;
    margin: 10px 1%;
    width:350px;
    height: 350px;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 1;
  width:300px;
  height: 300px;
   border-radius: 8px;

}
.snip1336 figcaptionpic {
  margin-left: -34px;
  margin-top: 50px;
}
.snip1336 .profilepic {
    position: absolute;
    z-index: 1;
    max-width: 100px;
    border-radius: 1px solid black
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
img#thumbnail{
    z-index: -1;
}*/
