
#overFlowData{
   overflow-x: scroll;
    width: 50px;
}
.rc-tree-node-selected {
    background-color: #2DDF21;
    border: 1px #260a71 solid;
    opacity: 2.8;
}
.colorRed{
color:red
}
.colorBlue{
color:black
}
.colorYellow{
color:blue
}
