/* Dropdown Button */

/* Dropdown button on hover & focus */


/* The container <div> - needed to position the dropdown content */
.drop {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.drop-content {
  display: none;
  position: absolute;
  right:0;
  background-color: #F9F8F8;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10px;
  border:1px solid grey;
  z-index: 1;
}

@media only screen and (max-width: 2000px) {
    .drop-content{
      width: 700px;

    }
}

@media only screen and (max-width: 1600px) {
    .drop-content{
      width: 600px;

    }
}
@media only screen and (max-width: 1370px) {
    .drop-content{
      width: 500px;

    }
}
@media only screen and (max-width: 1130px) {
    .drop-content{
      width: 450px;

    }
}
@media only screen and (max-width: 1040px) {
    .drop-content{
      width: 400px;

    }
}
@media only screen and (max-width: 940px) {
    .drop-content{
      width: 500px;

    }
}
@media only screen and (max-width: 760px) {
    .drop-content{
      max-width: 500px;

    }
}
@media only screen and (max-width: 630px) {
    .drop-content{
      max-width: 300px;

    }
}
@media only screen and (max-width: 420px) {
    .drop-content{
      max-width: 200px;

    }
}

/* Links inside the dropdown */


/* Change color of dropdown links on hover */


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
