.badge:hover .open>.dropdown-menu {
  display: block;
}

.loader {
    border: 5px solid white;
    border-radius: 50%;
    border-top: 5px solid #3EE0E8;
    border-bottom: 5px solid #3EE0E8;
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;

}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.glyphicon.glyphicon-lock{
  font-size:25px;
}

.bigxs{
  width:60px;
  margin: 0 3px 0 3px;
}
.bigmarginxs{
    margin: 0 3px 0 3px;
}

.carousel-indicators .active{
  background-color: #777 !important;
}
.carousel-control.left{
  background-image: none!important;
}
.carousel-control.right{
  background-image: none!important;
}
.glyphicon.glyphicon-chevron-left{
  font-size: 20px!important;
}
.glyphicon.glyphicon-chevron-right{
  font-size: 20px!important;
}

.carousel-inner{
  overflow: visible;
}

.facepile{
  padding-left: 6px!important;
}
@media only screen and (max-width: 767px)  {
  .smallFormLabel{
    padding-left: 15px!important;
    padding-right: 12px!important;
  }
  .smallFormAdd{
    padding-left: 15px!important;
  }
}
