#radio_select.active {
    background-color: green;
}

#checkbox_select.active{
  background-color: green;
}

#trait_facts.active{
  background-color: green;
}

.traitBtn {
  margin-left:0.7%;
  margin-top:0.7%;
  margin-right:0.7%;
}
