#radio_select{
  background-color: #C4E6CC;
  border-radius: 5px;
}
#radio_select.active {
    background-color: #51A351;
    border-radius: 5px;
}

#checkbox_select{
  background-color: #C4E6CC;
  border-radius: 5px;
}
#checkbox_select.active{
  background-color: #51A351;
  border-radius: 5px;
}


/*#trait_facts{
  border-radius: 5px;
  background-color: #C4E6CC;
}*/

.traitBtn {
  margin-left:0.7%;
  margin-top:0.7%;
  margin-right:0.7%;
  border-radius: 5px;
}

.Values{
  background-color:#51A351;
}

/*.btn-round-xs{
border-radius: 11px;
padding-left: 10px;
padding-right: 10px;
}*/
.input-range__label-container{
  position: relative;
  color: black;
  font-size: 12px;
}

.color_chip_value{
  display: inline-block;
  height: 25px;
  width:25px;
  font-size: 12px;
  background-color:#d3dcd0;
  margin-left: 5px;
  box-shadow: 1px 1px grey;
}
