/* Overrides */

#headerWrapper {
  border: 0 !important;
}

.navbar-brand h3 {
  margin: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
}

.navbar-default,
.navbar-inverse {
  border-radius: 0 !important;
  border: 0 !important;
}

.navbar-inverse {
  background: #24292e !important;
  color: #fff !important;
}

.logo-bar {
  padding: 5px;
}

.navbar-header {
  padding-left: 10px;
}

@media (min-width: 768px) {
  #header_menu3 .navbar-nav {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
  }
}

.showRaw,
.showWorking,
.showClean {
  padding: 5px 8px;
  border-radius: 15px !important;
}

.showRaw a,
.showWorking a,
.showClean a {
  text-transform: uppercase;
}

.showWorking {
  background: #ffeacd;
}

.showWorking a {
  color: #e89b2f !important;
}

.showRaw {
  background: #d5d5d6;
}

.showRaw a {
  color: #6b6a6a !important;
}

.showClean {
  background: #dff6d9;
}

.showClean a {
  color: #598e1f !important;
}

.author-icon a,
.userPosition a {
  text-decoration: none !important;
}

.UserAvatar--inner {
  border: 3px solid #fff;
}

.UserAvatar--img {
  height: 100% !important;
  width: 100% !important;
}

.UserAvatar--inner div {
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  font-weight: 100;
}

.activityfeed .UserAvatar--inner div,
.facepile .UserAvatar--inner div {
  font-size: 14px;
  line-height: 24px;
}

#contentColumn .card {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 5px;
  box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.08),
    0 1px 3px 1px rgba(60, 64, 67, 0.16);
}

.card-title {
  color: #202124;
}

#contentColumn .card .UserAvatar--inner div {
  font-size: 18px;
}

/* .small-size-pic {
  border-radius: 4px !important;
  margin-left: -6px;
} */

.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

.obv-info-md {
  margin-top: 20px;
}

#contentWrapper {
  min-height: initial;
  height: auto;
}

#footerWrapper {
  min-height: initial;
  border: 0;
}

.navbar-default {
  margin-bottom: 0 !important;
}

.txt-bold.txt-s {
  margin-top: 0;
}

.glyphicon {
  font-family: "Glyphicons Halflings", sans-serif !important;
}

.filter--btn-species {
  position: relative;
  text-align: center;
  min-width: 50px;
}

.filter--btn-species span {
  background: #ebeabd;
  font-weight: bold;
  font-size: 10px;
  color: #38402d;
  padding: 1px 5px;
  border-radius: 10px;
  display: block;
  margin-bottom: 8px;
}

.filter--counter {
  color: #7f7f7f;
}

.filter--counter::before {
  content: "- ";
}

.locationFilterOverlay {
  height: 40px;
  width: 40px;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
}

.card-shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.nav.card-shadow {
  display: inline-block;
  border-radius: 5px;
  overflow: hidden;
}

.nav-tabs li .btn {
  border: 0;
  border-radius: 0;
}
