.editor {
  box-sizing: border-box;
  border: 1px solid grey;
  cursor: text;
  padding: 2px;
  border-radius: 3px;
  margin-bottom: 0px;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 25px;
}

.draftJsMentionPlugin__mentionSuggestions__2DWjA{
  position:absolute;
}

.public-DraftEditor-content {
  min-height: 18px!important;
}
